@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f5f3ef;
  --fg: #131722;
}

body {
  background: radial-gradient(circle at top right, #f3dfc8 0%, var(--bg) 45%);
  color: var(--fg);
}
